language: php
php:
  - 7.0

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

before_script:
  - composer install --prefer-dist --no-interaction

script:
  - composer cs-check
  - composer test
  - vendor/bin/phpstan analyse src -l 2
