# Please set your Sentry project's DSN
# @see https://sentry.io/settings/$your-sentry-account/projects/$your-sentry-pj/keys/
SENTRY_DSN="https://xxx@xxxx.sentry.io/xxxxxxx"
XDEBUG_SESSION="CAKE_SENTRY_TEST_APP"
PHP_IDE_CONFIG="serverName=CAKE_SENTRY_TEST_APP"