# Please set your Sentry project's DSN
# @see https://sentry.io/settings/$your-sentry-account/projects/$your-sentry-pj/keys/
SENTRY_DSN="https://xxx@xxxx.sentry.io/xxxxxxx"
PHP_IDE_CONFIG="serverName=CAKE_SENTRY_TEST_APP"
# If you want to enable Xdebug sessions, uncomment the following line
# see: https://xdebug.org/docs/step_debug#activate_debugger
# XDEBUG_SESSION=1